@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  width: 100%;
  background-color: #F2F2F2;
}
body .cantiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .header .navbar-card {
  width: 60%;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
body .header .navbar-card .logo-img .oval {
  margin-right: 18px;
}
body .header .navbar-card .logo-img .oval:hover {
  color: #E7816B;
}
body .header .navbar {
  width: 35%;
}
body .header .navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
body .header .navbar ul li {
  list-style: none;
}
body .header .navbar ul li a {
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
  text-decoration: none;
}
body .section-1 {
  width: 60%;
  background-color: #E7816B;
  margin: 0 auto;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .section-1 .card-1 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 85px;
  overflow: hidden;
}
body .section-1 .card-1 h3 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 32px;
  z-index: 555555;
}
body .section-1 .card-1 p {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  z-index: 5555555555;
}
body .section-1 .card-1 .box-1 {
  width: 570px;
  height: 570px;
  position: absolute;
  border-radius: 100%;
  left: 20%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 2, 2, 0.0001)), to(rgba(93, 2, 2, 0.497569)));
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  mix-blend-mode: normal;
  opacity: 0.2;
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
}
body .section-1 .card-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body .section-1 .card-2 form input {
  width: 380px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
}
body .section-1 .card-2 form .Your-Message {
  height: 126px;
}
body .section-1 .card-2 button {
  width: 152px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-right: 0 auto;
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  border: none;
}
body .section-2 {
  width: 100%;
}
body .section-2 .section-card-2 {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 160px 0;
}
body .section-2 .section-card-2 .card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .section-2 .section-card-2 .card-1 img {
  margin-bottom: 48px;
}
body .section-2 .section-card-2 .card-1 p {
  margin-bottom: 32px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
body .section-2 .section-card-2 .card-1 button {
  width: 152px;
  height: 56px;
  color: #FFFFFF;
  border: 0;
  background: #E7816B;
  border-radius: 8px;
}
body .section-2 .section-card-2 .card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .section-2 .section-card-2 .card-2 img {
  margin-bottom: 48px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
body .section-2 .section-card-2 .card-2 p {
  margin-bottom: 32px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
body .section-2 .section-card-2 .card-2 button {
  width: 152px;
  height: 56px;
  color: #FFFFFF;
  border: 0;
  background: #E7816B;
  border-radius: 8px;
}
body .section-2 .section-card-2 .card-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .section-2 .section-card-2 .card-3 img {
  margin-bottom: 48px;
}
body .section-2 .section-card-2 .card-3 p {
  margin-bottom: 32px;
  font-family: "Jost";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
body .section-2 .section-card-2 .card-3 button {
  width: 152px;
  height: 56px;
  color: #FFFFFF;
  border: 0;
  background: #E7816B;
  border-radius: 8px;
}
body .footer {
  width: 100%;
  background: #1D1C1E;
  padding: 65px 0;
}
body .footer .footer-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
}
body .footer .footer-box .footer-card-1 {
  width: 60%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(58, 58, 58, 0.897);
}
body .footer .footer-box .footer-card-1 .footer-logo {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .footer .footer-box .footer-card-1 .footer-logo img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
body .footer .footer-box .footer-card-1 .footer-logo h4 {
  font-family: "Jost";
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 5px;
  color: #FFFFFF;
}
body .footer .footer-box .footer-card-1 .footer-navbar {
  width: 40%;
}
body .footer .footer-box .footer-card-1 .footer-navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
body .footer .footer-box .footer-card-1 .footer-navbar ul li {
  list-style: none;
}
body .footer .footer-box .footer-card-1 .footer-navbar ul li a {
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}
body .footer .footer-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .footer .footer-bottom .footer-bottom-card {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-1 {
  width: 17%;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-1 p {
  font-family: "Jost";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-1 p span {
  display: block;
  font-weight: 200;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-2 {
  width: 19%;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-2 p {
  font-family: "Jost";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-card-2 p span {
  display: block;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-icon {
  width: 17%;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-icon .icon-bottom {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body .footer .footer-bottom .footer-bottom-card .footer-bottom-icon .icon-bottom i {
  font-size: 24px;
  cursor: pointer;
  color: #E7816B;
}/*# sourceMappingURL=7-PAGE.css.map */